In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("seattle-weather.csv")
df.head()

       date  precipitation  temp_max  temp_min  wind  weather
0  1/1/2012            0.0      12.8       5.0   4.7  drizzle
1  1/2/2012           10.9      10.6       2.8   4.5     rain
2  1/3/2012            0.8      11.7       7.2   2.3     rain
3  1/4/2012           20.3      12.2       5.6   4.7     rain
4  1/5/2012            1.3       8.9       2.8   6.1     rain

In [10]:
df.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [11]:
def LabelEncoding(c):
    from sklearn import preprocessing
    le = preprocessing.LabelEncoder()
    df[c]= le.fit_transform(df[c])
    df[c].unique()
LabelEncoding("weather")
df

            date  precipitation  temp_max  temp_min  wind  weather
0       1/1/2012            0.0      12.8       5.0   4.7        0
1       1/2/2012           10.9      10.6       2.8   4.5        2
2       1/3/2012            0.8      11.7       7.2   2.3        2
3       1/4/2012           20.3      12.2       5.6   4.7        2
4       1/5/2012            1.3       8.9       2.8   6.1        2
...          ...            ...       ...       ...   ...      ...
1456  12/27/2015            8.6       4.4       1.7   2.9        2
1457  12/28/2015            1.5       5.0       1.7   1.3        2
1458  12/29/2015            0.0       7.2       0.6   2.6        1
1459  12/30/2015            0.0       5.6      -1.0   3.4        4
1460  12/31/2015            0.0       5.6      -2.1   3.5        4

[1461 rows x 6 columns]