In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("seattle-weather.csv")
df.head()

       date  precipitation  temp_max  temp_min  wind  weather
0  1/1/2012            0.0      12.8       5.0   4.7  drizzle
1  1/2/2012           10.9      10.6       2.8   4.5     rain
2  1/3/2012            0.8      11.7       7.2   2.3     rain
3  1/4/2012           20.3      12.2       5.6   4.7     rain
4  1/5/2012            1.3       8.9       2.8   6.1     rain

In [3]:
df.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [4]:
def LabelEncoding(c):
    from sklearn import preprocessing
    le = preprocessing.LabelEncoder()
    df[c]= le.fit_transform(df[c])
    df[c].unique()
LabelEncoding("weather")
df

            date  precipitation  temp_max  temp_min  wind  weather
0       1/1/2012            0.0      12.8       5.0   4.7        0
1       1/2/2012           10.9      10.6       2.8   4.5        2
2       1/3/2012            0.8      11.7       7.2   2.3        2
3       1/4/2012           20.3      12.2       5.6   4.7        2
4       1/5/2012            1.3       8.9       2.8   6.1        2
...          ...            ...       ...       ...   ...      ...
1456  12/27/2015            8.6       4.4       1.7   2.9        2
1457  12/28/2015            1.5       5.0       1.7   1.3        2
1458  12/29/2015            0.0       7.2       0.6   2.6        1
1459  12/30/2015            0.0       5.6      -1.0   3.4        4
1460  12/31/2015            0.0       5.6      -2.1   3.5        4

[1461 rows x 6 columns]

In [5]:
cols = ["precipitation","temp_max","temp_min","wind"]

In [6]:
def normalize(df,cols):
    for x in cols:
        df[x] = df[x]/df[x].max()
normalize(df,cols)
df

            date  precipitation  temp_max  temp_min      wind  weather
0       1/1/2012       0.000000  0.359551  0.273224  0.494737        0
1       1/2/2012       0.194991  0.297753  0.153005  0.473684        2
2       1/3/2012       0.014311  0.328652  0.393443  0.242105        2
3       1/4/2012       0.363148  0.342697  0.306011  0.494737        2
4       1/5/2012       0.023256  0.250000  0.153005  0.642105        2
...          ...            ...       ...       ...       ...      ...
1456  12/27/2015       0.153846  0.123596  0.092896  0.305263        2
1457  12/28/2015       0.026834  0.140449  0.092896  0.136842        2
1458  12/29/2015       0.000000  0.202247  0.032787  0.273684        1
1459  12/30/2015       0.000000  0.157303 -0.054645  0.357895        4
1460  12/31/2015       0.000000  0.157303 -0.114754  0.368421        4

[1461 rows x 6 columns]

In [7]:
df = df.drop('date',axis=1)
df

      precipitation  temp_max  temp_min      wind  weather
0          0.000000  0.359551  0.273224  0.494737        0
1          0.194991  0.297753  0.153005  0.473684        2
2          0.014311  0.328652  0.393443  0.242105        2
3          0.363148  0.342697  0.306011  0.494737        2
4          0.023256  0.250000  0.153005  0.642105        2
...             ...       ...       ...       ...      ...
1456       0.153846  0.123596  0.092896  0.305263        2
1457       0.026834  0.140449  0.092896  0.136842        2
1458       0.000000  0.202247  0.032787  0.273684        1
1459       0.000000  0.157303 -0.054645  0.357895        4
1460       0.000000  0.157303 -0.114754  0.368421        4

[1461 rows x 5 columns]

In [8]:
x = df.drop('weather',axis=1)
y = df['weather']

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)